<div class="panel panel-info">
  <div class="panel-heading text-center">
    <h3>Customer Aboard</h3>
  </div>
  <div class="panel-body" id="printer">
    {% if printer %}
        <div class="text-center" style="margin: 0;"><h1>Customer Aboard</h1></div>
   {% endif %}
    <table class="table table-hover" {% if not printer %} id="dataTables" {% endif %}>
        <thead>
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
        </thead>
        <tbody>
            {% for customer in ticket_user_query %}
                <tr>
                    <td>{{ customer.customer.get().key.id() }}</td>
                    <td>{{ customer.customer.get().last_name }}</td>
                    <td>{{ customer.customer.get().first_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="panel-footer">
         <button class="btn btn-danger hidden" id="print_customer_aboard">Print Customer Aboard</button>
  </div>
</div>
<script>
    $('#dataTables').dataTable({
    'aoColumnDefs': [
        {'bSortable': false, 'aTargets': ['nosort']},
        {'bSearchable': false, "aTargets": ['nosort']}
    ]
    });

    {% if not ticket_user_query %}
        $('#print_customer_aboard').attr({disabled:"disabled"});
    {% endif %}

    $('#print_customer_aboard').on('click', function(){
            url = "{{ url_for('customer_aboard', departure_id=departure_id) }}?printer=1";
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {

                    var $response = $(data);
                    var test = $response.find('#printer').html();
                    var printContents = test;

                    var originalContents = document.body.innerHTML;

                    document.body.innerHTML = printContents;

                    window.print();

                    document.body.innerHTML = originalContents;
                }
            });
        });
</script>