<div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="pull-right text-right bg-info text-danger" style="margin-right:40px; margin-top: -6px; padding: 10px;">
            <strong>Expected Amount : </strong>
            {{ (agency_get_id.difference_amount())|format_price() }}
            {{ agency_get_id.destination.get().currency.get().code }}

        </div>

        <h4 class="modal-title">Transaction </h4>
</div>
{% if received %}
<div class="modal-body">
        <h3 class="text-primary">Transaction ID: {{ parent_transaction.id() }}</h3>
        <hr/>
        <h4 class="text-primary"> Details Transaction</h4>
        <table class="table table-hover table-stripped">
            <tbody>
                <tr>
                    <td><strong>Escrow:</strong></td>
                    <td>{{ transaction_get.pre_amount|format_price() }} {{ transaction_get.destination.get().currency.get().code }}</td>
                </tr>
                <tr>
                    <td><strong>Amount Received:</strong></td>
                    <td> {{ transaction_get.amount|format_price() }} {{ transaction_get.destination.get().currency.get().code }}</td>
                </tr>
                <tr>
                    <td><strong>Outstanding payment:</strong></td>
                    <td><span class="text-danger">{{ (transaction_get.pre_amount - transaction_get.amount)|format_price() }} {{ transaction_get.destination.get().currency.get().code }}</span></td>
                </tr>
            </tbody>
        </table>
    <br/>
</div>
{% else %}
<div class="modal-body scrollable-shadow" style="height: 550px; overflow-y: auto">
     <h3 class="text-primary">POS : {{ agency_get_id.name }} at {{ agency_get_id.destination.get().name }}</h3>
     <hr/>
     <h4 class="text-primary">Previous payments</h4><br/>
     <table class="table table-hover" id="dataTable1">
        <thead>
        <tr>
            <th>Transaction Date </th>
            <th>Transaction ID </th>
            <th>Amount</th>
            <th>User</th>
            <th>Manager</th>
            <th class="nosort"></th>
        </tr>
        </thead>
        <tbody>
            {% for transaction in transaction_admin_agency_query %}
                <tr>

                    <td>{{ transaction.transaction_date }}</td>
                    <td>{{ transaction.key.id() }}</td>
                    <td>{{ transaction.amount|format_price() }} {{ transaction.destination.get().currency.get().code }}</td>
                    <td>{{ transaction.user.get().last_name }} {{ transaction.user.get().first_name }}</td>
                    <td>{{ transaction.employe.get().last_name }} {{ transaction.employe.get().first_name }}</td>
                    <td><a href="{{ url_for('print_receipt', transaction_id=transaction.key.id()) }}?admin=1" target="_blank" class="btn btn-danger btn-xs">Print</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}
<div class="modal-footer bg-info">
    <form class="form-horizontal" id="formulaires">
        {% if agency_get_id.escrow_amount(true) < 0 and agency_get_id.escrow_amount() > agency_get_id.escrow_amount(true) and not received %}
            <div class="col-lg-6">
                    <div class="form-group text-left" id="form-input">
                        <label for="amount_received" class="col-sm-6 control-label">Amount received ({{ agency_get_id.destination.get().currency.get().code }}) :</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="amount_received" name="amount">
                            <span class="help-block hidden text-danger" id="help-error">Amount required or the data is not numeric and greater than zero</span>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="form-group text-left" id="form-select">
                        <div class="col-sm-12">
                            <select name="employe" id="employe" class="form-control g-select" required="required">
                                    <option value="">Select manager</option>
                                    {% for user in user_manager %}
                                        {% if user.has_roles('manager_agency') %}
                                            <option value="{{ user.key.id() }}">{{ user.last_name }} {{ user.first_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        <span class="help-block hidden text-danger" id="help-error-employe">Name of the user manager is required</span>
                        </div>
                    </div>
            </div>
            <div class="col-lg-2"></div>
        {% endif %}
        <div class="col-lg-12">
            <button type="button" class="btn" {% if received %} onclick="window.location.replace(window.location.origin+'{{ url_for('Transaction_Agency', agency_id=agency_get_id.key.id() ) }}')" {% else %} data-dismiss="modal" {% endif %}>Close</button>
            {% if received %}
                <a href="{{ url_for('print_receipt', transaction_id=parent_transaction.id()) }}?admin=1" target="_blank" class="btn btn-danger">Print receipt</a>
            {% endif %}
            {% if agency_get_id.escrow_amount(true) < 0 and agency_get_id.escrow_amount() > agency_get_id.escrow_amount(true) and not received %}
                <button type="submit" class="btn btn-primary" id="submit">Valided payment</button>
            {% endif %}
        </div>
    </form>

</div>
{% if agency_get_id.escrow_amount(true) < 0 and agency_get_id.escrow_amount() > agency_get_id.escrow_amount(true) and not received %}
<!-- Modal -->
    <div class="modal fade modal2" id="modal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-footer">
                <div class="col-lg-8 text-danger text-left" style="padding: 7px;">
                    <strong>Do you confirm receiving: <span id="amr"></span> {{ agency_get_id.destination.get().currency.get().code }}</strong>

                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-success" id="confirm" data-loading-text="Waiting...">Confirm</button>

                    <button type="button" class="btn btn-danger" id="CloseModal2">Cancel</button>
                </div>

            </div>

        </div>
      </div>
    </div>
{% endif %}
<script>
    $('#dataTable1').dataTable({
        "paging": true,
        "bFilter": true,
        'aoColumnDefs': [
            {'bSortable': false, 'aTargets': ['nosort']},
            {'bSearchable': false, "aTargets": ['nosort']}
        ]
    });

    {% if agency_get_id.escrow_amount(true) < 0 and agency_get_id.escrow_amount() > agency_get_id.escrow_amount(true)%}

        $('#amount_received').autoNumeric("init",{
            aSep: ' ',
            aDec: '.'
        });

        $('#submit').on('click', function(e){
                e.preventDefault();

                var number = $('#amount_received').val();
                var number = number.split(" ");
                var amount = "";
                for (var i = 0; i < number.length; i++){
                    amount += number[i];
                }

                var amount_received = Math.floor(amount);

                var employe = $('#employe').val();

                if(amount_received != "" && $.isNumeric(amount_received) && amount_received > 0 && employe != ""){
                    $('#modal2').attr({style:'display:block;padding-right: 17px;background-color: rgba(255,255,255,0.5);padding-top: 275px;'}).addClass('in');
                    $('.modal-backdrop').after('<div class="modal-backdrop fade in"></div>');
                    $(this).addClass('disabled');
                    $('#help-error').addClass('hidden');
                    $('#help-error-employe').addClass('hidden');
                    $('#form-input').removeClass('has-error');
                    $('#form-select').removeClass('has-error');
                    $('#amr').text($('#amount_received').val());

                }else{
                    if(amount_received == "") {
                        $('#help-error').removeClass('hidden');
                        $('#form-input').addClass('has-error');
                        if(employe != ""){
                            $('#form-select').removeClass('has-error');
                            $('#help-error-employe').addClass('hidden');
                        }
                    }
                    if(employe == ""){
                        $('#form-select').addClass('has-error');
                        $('#help-error-employe').removeClass('hidden');
                        if(amount_received != ""){
                            $('#help-error').addClass('hidden');
                            $('#form-input').removeClass('has-error');
                        }
                    }
                }
        });

        $('#CloseModal2').on('click', function(e){
            e.preventDefault();
            $('#modal2').attr({style:'display:none;'}).removeClass('in');
            $('.modal-backdrop:last-child').remove();
            $('#submit').removeClass('disabled');
        });

        $('#confirm').on('click', function(e){
            e.preventDefault();
            var btn = $(this);
            btn.button('loading');
            $('#CloseModal2').addClass('hidden');

            var number = $('#amount_received').val();
            var number = number.split(" ");
            var amount = "";
            for (var i = 0; i < number.length; i++){
                amount += number[i];
            }

            $('#amount_received').val(Math.floor(amount));

            $.ajax({
                url: "{{ url_for('Payment_admin_local', agency_id=agency_get_id.key.id()) }}",
                type: 'POST',
                data: $('#formulaires').serialize(),
                success: function(data) {
                    btn.addClass('disabled');
                    btn.html('<i class="glyphicon glyphicon-ok"></i> Success');
                    $('#CloseModal2').trigger('click');
                    $('#myModal .modal-content').html(data);
{#                    window.location.replace(window.location.origin+"{{ url_for('Transaction_Agency', agency_id=agency_get_id.key.id() ) }}").delay(2000);#}
                }
            });
        });
    {% endif %}
</script>