<table class="table table-hover table-condensed" id="dataTableDeparture">
    <thead>
    <tr>
        <th>Ticket ID</th>
        <th>Class</th>
        <th>ID Card/Passport</th>
        <th>Customer Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        {% for ticket in all_ticket %}
            <tr>
                <td>{{ ticket.key.id() }}</td>
                <td>{{ ticket.class_name.get().name }}</td>
                <td>
                    {% if ticket.customer.get().nic_number %}
                        {{ ticket.customer.get().nic_number }}
                    {% else %}
                        {{ ticket.customer.get().passport_number }}
                    {% endif %}
                </td>
                <td>{{ ticket.customer.get().last_name }} {{ ticket.customer.get().first_name }}</td>
                <td>
                    {% if ticket.generate_boarding and not ticket.is_boarding %}
                        not onboard
                    {% elif ticket.is_boarding %}
                        onboard
                    {% else %}
                        reserved
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
<script>
        $('body #dataTableDeparture').dataTable({
            'aoColumnDefs': [
                {'bSortable': false, 'aTargets': ['nosort']},
                {'bSearchable': false, "aTargets": ['nosort']}
            ],
             "order": [[ 0, "desc" ], [ 1, "desc" ]]
        }).columnFilter({
          sPlaceHolder: "head:before",
          aoColumns: [
              null,
              { type: "select" },
              null,
              null,
              { type: "select" }
          ]
        });
</script>